{% extends 'registration/base.html' %}
{% load  crispy_forms_tags %}

{% block title %} لیست مقالات {% endblock %}


{% block main %}
<div class="row">
    <div class="col-md-12">
         <div class="card card-primary">
              <div class="card-header mb-3">
                <h3 class="card-title mb-0">افزودن مقاله</h3>
              </div>
		<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				{{form.title | as_crispy_field}}
				{{form.slug | as_crispy_field}}
			</div>
			<div class="col-md-6">{{form.category | as_crispy_field}}</div>
			<div class="col-md-12">{{form.description | as_crispy_field }}</div>
			<div class="col-md-3">{{form.publish | as_crispy_field}}</div>
			<div class="col-md-3">{{form.thumbnail | as_crispy_field}}</div>
			<div class="col-md-3">{{form.is_special | as_crispy_field}}</div>
			{% if user.is_superuser %}
			<div class="col-md-3">{{form.status | as_crispy_field}}</div>
			<div class="col-md-3">{{form.author | as_crispy_field}}</div>
			{% endif %}
			{% if user.is_superuser or article.status == 'B' %}
				<div class="col-md-12">{{form.optional_description | as_crispy_field}}</div>
			{% endif %}
			<button class="btn btn-success">ارسال مقاله</button>

			{% if request.user.is_superuser and request.resolver_match.kwargs.pk %}
				<a href="{% url 'accounts:delete-article' request.resolver_match.kwargs.pk %}" class="btn btn-danger mr-2">حذف مقاله</a>
			{% endif %}
			<a href="{% url 'accounts:account' %}" class="btn btn-secondary mr-2">انصراف</a>
		</div>
		
		</form>
	</div>
</div>

{% endblock %}


