{% extends 'registration/base.html' %}
{% load  crispy_forms_tags %}

{% block title %} لیست مقالات {% endblock %}

{% block main %}
<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{form | crispy }}

		<button class="btn btn-success">ارسال مقاله</button>
</form>


<!-- 
<div class="row">
    <div class="col-md-12">
         <div class="card card-primary">
              <div class="card-header mb-3">
                <h3 class="card-title mb-0">افزودن مقاله</h3>
              </div>
		<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				{{form.author | as_crispy_field}}
				{{form.slug | as_crispy_field}}
			</div>
			<div class="col-md-6">{{form.category | as_crispy_field}}</div>
			<div class="col-md-12">{{form.description | as_crispy_field }}</div>
			<div class="col-md-3">{{form.publish | as_crispy_field}}</div>
			<div class="col-md-3">{{form.thumbnail | as_crispy_field}}</div>
			<div class="col-md-3">{{form.status | as_crispy_field}}</div>
			<button class="btn btn-success">ارسال مقاله</button>

		</div>
		
		</form>
	</div>
</div>
 -->
{% endblock %}