{% extends 'blog/list.html' %}

{% block title %}
{{category.title}}
{% endblock title %}

{% block pager %}
          {% if page_obj.has_previous %}
          <a class="btn btn-primary float-left" href="{% url 'blog:category' category.slug page_obj.previous_page_number %}">پست های قدیمی &larr;</a>
          {% endif %}
          {% if page_obj.has_next %}
          <a class="btn btn-primary float-left ml-2" href="{% url 'blog:category' category.slug page_obj.next_page_number %}">&rarr; پست های جدید</a>
          {% endif %}
{% endblock pager %}