{% extends 'blog/base.html' %}
{% load static %}




{% block title %}{{article.title}}{% endblock title %}



{% block header %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{article.thumbnail.url}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ article.title }}</h1>
            <time>{{ article.jupdated }}</time>
            {% if article.is_special %}
                    <span class="badge badge-warning">ویژه</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}



{% block main %}
<div class="container">
  {% if user.is_authenticated and user.is_special_user or article.author == user or user.is_superuser  %}
    <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            	{{article.description|safe}}
            </div>
          </div>
        </div>
      </article>
    {% else %}
    {{ article.description|striptags|truncatechars:200 }}
      <p class="alert alert-warning text-center">این مقاله ویژه است برای مشاهده آن <a href="#">اشتراک ویژه</a> تهیه نمایید</p>
  {% endif %}
</div>
{% endblock main %}
